@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.allCollectionContainer {
  width: 100%;
  height: 100%;
  padding: 3vw;
  border-radius: 2vw;
  margin: 2vw auto; /* center me */
}

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 3.5vw;
  font-weight: 500;
  line-height: 5.4vw;
  letter-spacing: 0.2px;
  margin-bottom: 2vw;
  color: #fff;
  margin-left: 1.1vw;
}

.CollectionItems {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  flex-wrap: wrap;
}

/* -------- Responsive 600px -------- */
@media (max-width: 600px) {
  .allCollectionContainer {
    width: 95%;
    padding: 2vw;
  }

  .heading {
    font-size: 5.5vw; /* px me takay readable ho */
    /* line-height: 32px; */
    line-height: 5vw;
    margin-left: 1vw;
    margin-bottom: 2vw;
    text-align: center;
  }

  .CollectionItems {
    flex-direction: column; /* column layout on mobile */
    gap: 3vw;
    align-items: center; /* center items */
  }
}
