@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.allCollectionContainer {
  width: 1264px;
  min-height: 542px;
  padding: 30px;
  border-radius: 12px;
  margin: 30px;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -1px;
  margin-bottom: 25px;
  color: #fff;
  margin-left: 15px;
}

.CollectionItems {
  display: flex;
  flex-direction: row;
  gap: 25px;
  /* flex-wrap: wrap; */
}
