@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  background-color: rgb(118, 117, 117);
  border-radius: 1.7vw;
  height: 7.9vw;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0; /* top, right, bottom, left = 0 */
  border-radius: inherit;
  padding: 3px; /* border ki thickness */
  background: linear-gradient(
    to bottom left,
    rgb(255, 255, 255),
    rgb(67, 67, 67)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none; /* click block na kare */
}

.text {
  margin-top: 1vw;
  font-size: 1vw;
  line-height: 1.6vw;
  letter-spacing: 0px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

/* -------- Responsive 600px -------- */
@media (max-width: 600px) {
  .img {
    width: 3vw;
    height: 3vw;
  }
  .text {
    margin-top: 0.6vw;
    font-size: 1.6vw;
    line-height: 4vw;
    margin: 0 2vw;
  }

  .box {
    position: relative;
    background-color: rgb(118, 117, 117);
    border-radius: 1.7vw;
    height: 6.9vw;
    width: 7.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box::before {
    content: "";
    position: absolute;
    inset: 0; /* top, right, bottom, left = 0 */
    border-radius: inherit;
    padding: 3px; /* border ki thickness */
    background: linear-gradient(
      to bottom left,
      rgb(255, 255, 255),
      rgb(67, 67, 67)
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none; /* click block na kare */
  }
}
