@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #e7e7e7a1;
  height: 7.9vw;
  width: 8vw;
  border-radius: 1.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: 1vw;
  font-size: 1vw;
  line-height: 1.6vw;
  letter-spacing: 0px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

/* -------- Responsive 600px -------- */
@media (max-width: 600px) {
  .box {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    flex-wrap: wrap;
  }

  .text {
    margin-top: 8px;
    font-size: 14px; /* readable */
    line-height: 20px;
  }
}
