@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.body {
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #000000;
  margin: 2vw;
  padding: 2vw;
  border-radius: 1vw;
}

.FooterContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* responsive ke liye */
  gap: 2vw;
}

.ImagesSection {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.logo {
  color: #dadada;
}

.powerdBy {
  display: flex;
  align-items: center;
  gap: 1.2vw;
  font-size: 1vw;
  font-weight: 600;
}

.powerdBy h3 {
  color: #969696;
}

.clock {
  display: flex;
  align-items: center;
}

.marginline {
  margin: 2vw 0;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.copyright {
  text-align: center;
  font-size: 1vw;
  margin-top: 10px;
  color: #848484;
}

/* -------- Responsive 600px -------- */
@media (max-width: 600px) {
  .FooterContent {
    /* sab column me aa jaye */

    gap: 4vw;
  }

  .powerdBy {
    font-size: 1vw; /* mobile pe readable */
    font-weight: 800;
    gap: 8px;
  }

  .powerdBy img {
    height: 5vw;
    width: 8vw;
  }

  .clock img {
    height: 4vw;
    width: 15vw;
  }
  .copyright {
    font-size: 2vw; /* readable but small */
    margin-top: 3vw;
  }

  .ImagesSection {
    gap: 1vw;
  }

  .ImagesSection img {
    height: 3.5vw;
    width: 3.5vw;
  }
}
