@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.body {
  font-family: "Poppins", sans-serif;
}
.container {
  background-color: #000000;
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
}

.FooterContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* responsive ke liye */
  gap: 20px;
}

.ImagesSection {
  display: flex;
  gap: 15px;
  align-items: center;
}

.powerdBy {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
}

.powerdBy h3 {
  color: #ffffff;
}

.clock {
  display: flex;
  align-items: center;
}

.marginline {
  margin: 20px 0;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.copyright {
  text-align: center; /* center text instead of flex */
  font-size: 14px;
  margin-top: 10px;
  color: #b4b4b4;
}
